:root {
    /* Основна палітра */
    --charcoal-blue: #404e5cff;
    --blue-slate: #4f6272ff;
    --periwinkle: #b7c3f3ff;
    --petal-rouge: #dd7596ff;
    --rosewood: #cf1259ff;

    /* Допоміжні кольори для UI */
    --bg-dark: var(--charcoal-blue);
    --text-main: #ffffff;
    --text-secondary: var(--periwinkle);
    --error: var(--rosewood);
    --accent: var(--petal-rouge);
    --success-green: #4caf50;
}

body {
    margin: 0;
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: 'Roboto', sans-serif;
}

/* Стилізація основного контейнера попапа */
.leaflet-popup-content-wrapper {
    background-color: var(--blue-slate) !important;
    color: white !important;
    border: 1px solid var(--periwinkle);
    border-radius: 12px !important;
    padding: 20px !important;
}

/* Стилізація "носика" (стрілочки) попапа */
/* .leaflet-popup-tip {
    background-color: var(--blue-slate) !important;
    border: 1px solid var(--periwinkle);
} */

/* Прибираємо стандартні відступи всередині контенту */
.leaflet-popup-content {
    margin: 0 !important;
    line-height: inherit !important;
    width: auto !important;
}

.leaflet-popup-close-button {
    color: var(--periwinkle) !important;
}